{% load static %}

<div class="sidebar nav d-flex flex-column">
  <img src="{% static '/Logo/RECOGNIFIC_LOGO2.gif' %}" alt="Logo" width="70" height="70" />
  <div class="container p-4 my-auto" id="side-mobile">



    <div class="mobile-center my-auto">
      <li class="text-white title3 my-2 p-2 rounded">
        <a href="{% url 'index' %}" class="d-flex justify-content-md-start justify-content-center">
          <i class="fa fa-home my-auto"></i>
        </a>
      </li>
      <li class="text-white title3 my-2 p-2 rounded">
        <a href="{% url 'about' %}" class="d-flex justify-content-md-start justify-content-center">
          <i class="fa fa-info-circle my-auto"></i>
        </a>
      </li>

      <!-- <li class="text-white title3 my-3 p-2 rounded bg-dark mx-2"> <a href="#" rel="noopener noreferrer" class="d-flex justify-content-md-start justify-content-center"> <i class="fa fa-search"></i> <span class="ml-2">Research</span> </a> <ul
      class="my-3"> <li class="title4"> <a href="#" rel="noopener noreferrer">Highlights</a> </li> <li class="title4"> <a href="#" rel="noopener noreferrer">Library</a> </li> </ul> </li> -->
      <li class="text-white title3 my-2 p-2 rounded">
        <a href="#" class="d-flex justify-content-md-start justify-content-center">
          <i class="fa fa-link my-auto"></i>
        </a>
      </li>
      <li class="text-white title3 my-2  p-2 rounded">
        <a href="#" class="d-flex justify-content-md-start justify-content-center">
          <i class="fa fa-envelope my-auto"></i>
        </a>
      </li>

    </div>
  </div>

</div>
