{% extends "base.html" %}
{% load static %}

{% block title %}Log In{% endblock %}
{% block additional_css %}<link rel="stylesheet" href="{% static 'css/index.css' %} ">
<link rel="stylesheet" href="{% static 'css/contact.css' %} ">
<style>
  a{
    font-size:22px;
  }
  </style>
{% endblock %}

{% block body %}

{% if message %}
<div class="alert alert-danger" role="alert">
  {{ message }}
</div>
{% endif %}

<div class="d-flex justify-content-center">
<div class="row h-100  w-50 " id="banner">
<div class=" container p-5 border border-white mt-5 rounded rounded-5 mx-75 my-auto">
    <div class=" heading my-4 text-center">
      Login
    </div>
    <form class = "form-group w-100" method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <div class = "form-group my-3">
      <label class = "title4" for="username">Enter username:</label>
      <input class = "form-control w-100" type="text" name="username" value="" placeholder="Enter Username">
    </div>
    <div class = "form-group my-3">
      <label class = "title4" for="password">Enter password:</label>
      <input class = "form-control w-100" type="password" name="password" value="" placeholder="Enter Passsword">
    </div>
    <div class = "d-flex">
      <button type="submit"class= "btn btn-primary mx-auto my-4 w-100" >Login</button>

    </div>
    <div class = "d-flex">
      <a class="mx-auto" href="{% url 'sign_up' %}"> Don't have an account yet? Sign up! </a>
    </div>
    </form>
</div>
</div>
</div>


{% endblock %}
