{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block body %}
<div class="container p-5">
  <h2>Sign up</h2>

  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <select type="text" name="type" id="type" value="" onfocusout="toggleForm()">
      <option value="Teacher">Teacher</option>
      <option value="Student">Student</option>
    </select>
    <div class="invisible" id="student-form">
      <input type="file" name="image" value="">
    </div>
    <div class="invisible" id="teacher-form">
      <input type="text" name="role" value="">
    </div>

    <button type="submit">Sign up</button>
  </form>
</div>
{% endblock %}
{% block additional_js %}
<script type="text/javascript">
 function toggleForm(){
   type = document.getElementById('type').value;
   console.log(type);
   if (type=="Teacher"){
     document.getElementById('teacher-form').classList.remove('invisible');
   }
   else {
     document.getElementById('student-form').classList.remove('invisible');

   }
 }

</script>
{% endblock %}
