
 .title2 {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 35px;
  line-height: 35px;
  display: flex;
  align-items: center;
  color: #F4A0DD;
}

.title5 {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  color: #fcf9f9;
}

.title4 {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 30px;
  display: flex;
  align-items: center;
  color: black;
}

 .title6 {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 10px;
  display: flex;
  align-items: center;
  color: #F4A0DD;
}

.title7 {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 5px;
  color: #fcf9f9;
}
