
p{
  font-size:  20px;
  text-align: justify;
}

.image{

  width: 350px;
 height: 350px;
  align-items: center;
}

/*body{
  position: absolute;
width: 727px;
height: 198px;
left: 169px;
top: 238px;

font-family: Modern No. 20;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 26px;

color: #000000;
} */
