{% extends 'base.html' %}
{% load static %}
{% block additional_css %}<link rel="stylesheet" href="{% static 'css/index.css' %} ">
{% endblock %}
{% load humanize %}


{% block body %}
<div class=" container p-5">
  <h3>Name: {{ classset.name }}</h3>
  <div>
    <h5>Teacher/Professors:</h5>
    {% for teacher in classset.teacher.all %}
      <div>
        <div class="card m-3">
          <div class="card-body d-flex justify-content-between">
            <h5>{{ teacher.get_full_name }}</h5>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
  <div>
    <h5>Students:</h5>
    {% for student in classset.students.all %}
      <div>
        <div class="card m-3">
          <div class="card-body d-flex justify-content-between">
            <h5>{{ student.get_full_name }}</h5>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
  <a href="{% url 'update_classset' classset.id %}">
    <i class="fa fa-pencil"></i>
    Edit
  </a>
  <div>
    <h5>Attendance:</h5>
    {% for attendee in attendance %}
      <div>
        <div class="card m-3">
          <div class="card-body d-flex justify-content-between">
            <h5>{{ attendee.student.get_full_name }}</h5>
            <h5>{{ attendee.time |naturalday }}</h5>

          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
