{% extends 'base.html' %}
{% load static %}
{% block additional_css %}<link rel="stylesheet" href="{% static 'css/index.css' %} ">
{% endblock %}
{% block title %}
Face Recognition
{% endblock %}
{% block body %}
<div class="p-5" id="banner">
  <div class="d-flex">
    <div class="mx-auto">
      <h3>{{ message }}</h3>
      {% if classname %}
      <div class = "d-flex">
      <img class = "mx-auto img-fluid" src="{% url 'camera' classname %}" alt="" >
      </div>
      {% endif %}

    </div>

  </div>
</div>
{% endblock %}
