{% extends 'base.html' %}
{% load static %}
{% block additional_css %}<link rel="stylesheet" href="{% static 'css/index.css' %} ">
{% endblock %}
{% block title %}About Us{% endblock %}
{% block body %}
<div class=" container p-5">
  <h1 class="heading" > About Us</h1>
  <div class="w-50">
    <p>Recognific is a user-friendly, web-based attendance model that makes
     the use of facial recognition. To record their attendance ,a student can look into the camera and is
       recognized by the model based on the photos given by the teacher while
       initializing the class. When a match is confirmed the time and the match name
        will be saved in a database which can be queried, counted and manipulated on
         the website by the teacher and even converted to a download-able excel sheet.
      </p>
  </div>

</div>
{% endblock %}
