<!-- prettier-ignore -->
{% extends 'base.html' %}
{% block title %}
Contact Us
{% endblock %}

{% load static %}
{% load crispy_forms_tags %}
{% block additional_css %}
<link rel="stylesheet" href="{% static 'home/css/contact.css' %}" />
<!-- <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script> -->

{% endblock %} {% block body %}

<div class="p-3 container">
  <div class="heading p-5 text-center text-white">
    Contact Us
  </div>
  <div class="text-white p-3 p-sm-5">
    <form class="border p-3 rounded" method="post">
      {% csrf_token %} {{ form|crispy}}
      <div class="p-2 pt-5">
        <button type="submit" class="form-control btn btn-success">
          Submit
        </button>
      </div>
    </form>
  </div>
</div>

{% endblock %} {% block bottombar %}{% endblock %} {% block additional_js %}
<!-- <script src="{% static 'home/js/index.js' %}"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r121/three.min.js"></script>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.1.9/p5.min.js"></script> -->
<!-- <script src="https://cdn.jsdelivr.net/npm/vanta@latest/dist/vanta.topology.min.js"></script> -->
<script src="https://cdn.jsdelivr.net/npm/vanta@latest/dist/vanta.waves.min.js"></script>
<script>
  VANTA.WAVES({
    el: "#main",
    mouseControls: true,
    touchControls: true,
    gyroControls: false,
    minHeight: 200.0,
    minWidth: 200.0,
    scale: 1.0,
    scaleMobile: 1.0,
    color: 0x250f3c,
  });
</script>
{% endblock %}
