{% extends 'base.html' %}
{% load static %}
{% block additional_css %}<link rel="stylesheet" href="{% static 'css/contact.css' %} ">
<link rel="stylesheet" href="{% static 'css/index.css' %} ">
{% endblock %}
{% block title %}Contact Us{% endblock %}
{% block body %}
<div class=" container p-5">

  <h1 class="heading" > Contact Us</h1>
</div>
<div class=" container px-5">
    <div class="row">
       <div class="col-sm-6">

                <div class="title2"> Muskan Vaswan:</div>

                <div class="title3">
                  Email: muskanvaswan@gmail.com
                  </div>
                  <div class="title3"> Github: <a href="https://github.com/muskanvaswan">https://github.com/muskanvaswan</a></div>


                <div class="title2"> Arushi Singla:</div>

                <div class="title3">
                  Email: arushisingla1911@gmail.com
                  </div>
                  <div class="title3"> Github: <a href="https://github.com/arushisingla">https://github.com/arushisingla</a></div>


                  <div class="title2"> Shreya Mukherji:</div>

                  <div class="title3">
                    Email: shreya.mukherji123@gmail.com
                    </div>
                    <div class="title3"> Github: <a href="https://github.com/shreyazmz">https://github.com/shreyazmz</a></div>


                    <div class="title2"> Arhant Bhatt:</div>

                    <div class="title3">
                      Email: arhantbhatt10@yahoo.com
                      </div>
                      <div class="title3"> Github: <a href="https://github.com/arhantbhatt">https://github.com/arhantbhatt</a></div>

        </div>
        <div class="col-sm-4">

             <img  src="{% static '/Logo/RECOGNIFIC_LOGO1.gif' %}" alt="Logo" class="image" />

        </div>
    </div>
</div>

{% endblock %}
